{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Accueil</h1>
        <p>Bienvenue sur une application sécurisée</p>
    </div>
{% endblock %}
